.primary-color {
  background-color: #ffa500;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
  background-color: black;
}

.space-evenly {
  justify-content: space-evenly;
}
